@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Nanum+Gothic:wght@700;800&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");
.center {
    position: absolute;
    width: 400px;
}

.center div {
    position: relative;
    height: 100px;
    margin: -30px 0;
    z-index: 102;
    transform: skewY(-5deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center div:nth-child(2),
.center div:nth-child(4) {
    transform: skewY(14.5deg);
    z-index: 101;
}

.center div:nth-child(4) {
    transform: skewY(25deg);
    transform-origin: left;
    top: -52px;
}

.center div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.center div:nth-child(1)::before,
.center div:nth-child(3)::before {
    background: linear-gradient(-160deg, #ff0058, #673ab7);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    transform: scaleX(0);
}

.center div:nth-child(2)::before,
.center div:nth-child(4)::before {
    background: linear-gradient(-20deg, #ff0058, #38009c);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    transform: scaleX(0);
}

.center div:nth-child(1)::before {
    animation: animate 1s linear forwards;
    transform-origin: right;
    animation-delay: 1s;
}

.center div:nth-child(2)::before {
    animation: animate 1s linear forwards;
    transform-origin: left;
    animation-delay: 2s;
}

.center div:nth-child(3)::before {
    animation: animate 1s linear forwards;
    transform-origin: right;
    animation-delay: 3s;
}

.center div:nth-child(4)::before {
    animation: animate 1s linear forwards;
    transform-origin: left;
    animation-delay: 4s;
    width: 60%;
    left: 0;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.center div:nth-child(1)::after,
.center div:nth-child(3)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.center div h2 {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 110;
    color: #1e824c;
    opacity: 0;
}

.center div:nth-child(1) h2 {
    animation: fadeText 0.5s linear forwards;
    animation-delay: 2s;
    font-size: 40px;
}

.center div:nth-child(3) h2 {
    animation: fadeText 0.5s linear forwards;
    animation-delay: 4s;
    font-size: 50px;
    font-weight: 800;
}

@keyframes fadeText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 115;
    animation: fadeout 5s linear forwards;
}

@keyframes fadeout {
    0%,
    91% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loading h2 {
    color: #1e824c;
}

.loading .bar {
    position: relative;
    width: 400px;
    height: 40px;
    background: transparent;
    margin: 0 20px;
    border: 2px solid #2e3131;
    box-sizing: border-box;
}

.loading .bar::after {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    line-height: 36px;
    color: #dadfe1;
    mix-blend-mode: difference;
}

.loading .bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e3131;
    transform-origin: left;
    animation: animate 5s linear forwards;
}
