@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.stopwatch {
  text-align: center;
  background-color: #dadfe1;
  margin-top: 3rem;
  font-family: "Jua", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
  color: rgba(24, 17, 17, 0.336);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 30px 20px;
  border-radius: 15%;
  margin: 0 auto;
  height: 100%;
  max-width: 400px;
  font-weight: 600;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  background-color: rgba(255, 255, 255, 0.4);
}

.hidden {
  display: none !important;
}
