@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #2e3131;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  body h1 {
    color: #000000;
  }
  body .nav {
    background-color: #e4e9ed;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  }
  body div div div .playMusic {
    margin-bottom: 1rem;
    color: #bfbfbf;
  }
  div button .fa-moon {
    color: yellow;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  z-index: 0;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.title h1 {
  /* color: #1e8bc3; */
  color: rgba(0, 0, 0, 0.9);
}

.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

.controls__btns button:active {
  transform: scale(0.98);
}

.ad {
  margin: 0 auto;
  width: 320px;
  margin-top: 20rem;
  margin-bottom: 15rem;
}

.playMusic {
  color: #6c7a89;
}

#play,
#pause {
  color: gray;
  width: 40%;
}

.playsound {
  margin-top: 5rem;
}

h5 {
  margin-left: 38%;
}

.input_div {
  margin-bottom: 1.4rem;
}

.dark-mode {
  background-color: #2e3131;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.dark_btns {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.dark_btns button {
  background-color: #6c7a89;
  padding: auto;
  padding: 10px 10px;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

a {
  text-decoration: none !important;
}

.at-expanding-share-button-toggle-bg span {
  margin-left: 0;
}

.title span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  /* color: #1e8bc3; */
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 20px;
  position: relative;
  /*   shorthand animation property: name | duration | iteration count */
  /*   animation: text 4s 1; */
  /* animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: inherit; */
}

@keyframes text {
  0% {
    color: #1e8bc3;
    margin-bottom: -30px;
  }
  30% {
    letter-spacing: 15px;
    margin-bottom: -30px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -10px;
  }
  100% {
    margin-bottom: 20px;
  }
}

.music_text {
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  animation: rotate 2s ease-in-out alternate infinite;
}

.btn-chart {
  font-size: 2rem;
  color: #2abb9b;
}

.chart_btns {
  position: fixed;
  top: 80px;
  right: 10px;
}

.chart_btns button {
  background: #c8f7c5;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.goTo_quiz {
  width: 50px;
  height: 50px;
}

.quiz {
  position: fixed;
  top: 130px;
  right: 10px;
}

button {
  border: none;
  border-radius: 5px;
}

.welcome a {
  margin: 0 30% 0 30%;
}

.egg {
  position: absolute;
  top: 100px;
  left: 30px;
}

.gouptopbtn {
  z-index: 1;
  position: fixed;
  width: 50px;
  height: 50px;
  /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  border-radius: 50%;
}
.gouptopbtn svg {
  color: rgba(0, 0, 0, 0.08);
}
.gouptopbtn:hover {
  color: rgba(255, 255, 255, 0.4);
}

[data-aos] {
  pointer-events: none;
}

[data-aos].aos-animate {
  pointer-events: auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.musicplayer {
  margin: 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.left_musicplayer {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
}

.left_musicplayer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  z-index: -1;
}

.startMusic {
  border: none;
  background: #dedfe1;
  cursor: pointer;
  width: 50%;
  height: 50%;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
}

.startMusic:active {
  border: none;
  outline: none;
}

.startMusic svg {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.right_musicplayer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_top_musicplayer {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 50%;
  border: 40px solid #e4e5e9;
  background-color: #dfe0e2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 10px;
}

.previousMusic {
  position: absolute;
  left: -35px;
  border: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-image: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.musicTitle {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.nextMusic {
  position: absolute;
  right: -35px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.left_bottom_musicplayer {
  width: 60%;
}

input[type="range"] {
  height: 11px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #635b5d;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #e3dede;
  height: 5px;
  width: 28px;
  border-radius: 25px;
  background: #c9c9c9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #635b5d;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #635b5d;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #e3dede;
  height: 5px;
  width: 28px;
  border-radius: 25px;
  background: #c9c9c9;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #635b5d;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #635b5d;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #e3dede;
  height: 5px;
  width: 28px;
  border-radius: 25px;
  background: #c9c9c9;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #635b5d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #635b5d;
}

.seekbar {
  background: none;
  border-bottom-width: 0px;
}

.timers {
  width: 100%;
  border-radius: 20px;
  background-color: #85bef9;
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.timers:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.timersContainer {
  margin: 1rem;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timersText {
  color: white;
  font-size: 10px;
}
